* {
    padding: 0px;
    margin: 0px;
}

body{
    background-color: grey;
}

.main-container{
    width: 100vw;
    height: 100vh;
    border: 1px solid magenta;
    position: relative;
}

.container {
    width: 50%;
    height: 200px;
    border: 1px solid magenta;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}
.lista{
    
    border: 1px solid maroon;
    position: absolute;
    width: 30%;
    left: 10%;
    float: left;
}



.list-item{
    list-style: none;
    width: 100%;
    text-align: justify;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid magenta;
}


#del-btn{
    background-color: red;
    float: right;
   
    
}
